import { cva, VariantProps } from 'class-variance-authority';
import React from 'react';
import { cn } from '@/lib/classnames';

interface {{pascalCase name}}Props {
  variant?: VariantProps<typeof {{camelCase name}}Variants>['variant'];
  className?: string;
  children: React.ReactNode;
}

const {{camelCase name}}Variants = cva('', {
  variants: {
    variant: {
      default: ''
    }
  }
})

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({variant, className, children, ...props}) => {
  return <div data-testid="{{kebabCase name}}" className={ cn({{camelCase name}}Variants({
    variant
  }), className) } {...props}>
    {children}
  </div>;
};
